.navbar {
    background: linear-gradient(to right, #a10f82, #300016 );
  h1 {
    color: white;
    font-weight: 900;
    font-size: 150%;
  }
  .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 105%;
  }
}
