<!-- select option -->
<div class="mt-3 w-25  mb-3">
    <app-select [title]="'Categories:'" [data]="categories" (selectedValue)="filterCategory($event)"></app-select>
</div>


<!-- Your Items -->
<a style="text-decoration: none;" routerLink="/carts/cart">
    <div id="sideBar" class="row" *ngIf="item && item != 0">

        <div id="sideBarToggle">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div id="itemsBox">
            <strong>{{item}}</strong>
        </div>
    </div>
</a>


<!-- El Data -->
<div class="row" *ngIf="!error && !loading">
    <div class="col-md-4 col-lg-3 col-sm-6 p-0" *ngFor="let product of products">
        <app-product [data]="product" (itemSelected)="addToCart($event)"></app-product>
    </div>
</div>

<!-- El spinner -->
<div class="row d-flex justify-content-center align-items-center mt-5" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- If error -->
<div class="row d-flex justify-content-center align-items-center mt-5" *ngIf="error && !loading">
    <div class="alert alert-danger p-5">
        <h2>An Error Occurred !</h2>
        <p>{{error}}</p>
    </div>
</div>